.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, -5px);
}

.swiper-pagination-bullet-active {
    background: #F9CE3B;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
    border-radius: var(--swiper-pagination-bullet-border-radius, 34%);
}